body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff;
}

header {
    background-color: #282828;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header a:link {
    color: #fff;
}

header a:visited {
    color: #fff;
}

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}




.movieComment {
    width: 200px;
    min-width: 200px;
    height: 150px;
    background-color: #adadad;

}

.movieComment div {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;

}

.movieComment h4 {
    margin: 0px;
}

.movieComment p {
    padding: 5px;
    margin: 0px;
}

.movieComment img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
}


.horizontalContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    height: max-content;
}


html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    min-height: calc(100vh - 78px - 154px);

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.movieBanner {
    width: 300px;
    min-width: 300px;
    height: 170px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 5px;
    border-radius: 4px;
    color:#DEDEDE;

}

.movieBanner img {
    width: 100px;
    height: 160px;
    padding: 5px;
}

.movieBanner p {
   margin: 0px;
   font-size: small;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 190px;   
}

.movieBanner h4 {
    margin: 4px 0px 4px 0px;
 }

 .movieBanner h6 {
    margin: 4px 0px 4px 0px;
 }

 .movieBanner a {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: small;
 }


.checked {
    color: orange;
  }


.movieReview {
    width: 520px;
    min-width: 520px;
    height: 240px;
    background-color: #282828;
    display: grid;
    grid-template-columns: 160px 1fr;
    position: relative;
    margin: 0px;
    border-radius: 4px;
    color: black;
    overflow: hidden;
}

.reviewGrid {
    display: grid;
    grid-template-rows: 30px 25px 155px 12px;
    padding: 5px;
    height:220px;
    max-height: 220px;
}

.profileImg {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

.movieReview > a > img {
    width: 160px;
    height: 240px;
}


.movieReview h4 {
    margin: 0px;
    font-size: 20px;
    color: #BFFC57;
}


.movieReview .profileRow{
    display: grid;
    grid-template-columns: 30px 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.movieReview a {
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

.movieReview a:visited {
    color: white;
}

.movieReview a:link {
    color: white;
}

.movieReview h6 {
    margin: 0px;
    font-size: small;
    color: #bbbbbb;
    font-style: italic;
    justify-self: end;
    font-size: 12px;
}


.movieReview p {
    font-family: 'Open Sans';
    margin: 10px 0px 0px 0px;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 7; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 360px;       
    height: 130px;
    color:#DEDEDE;
    padding: 5px;
}






.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}