body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #141414;
}

.landingContainer {
    display: flex;
    flex-direction: row;
    background-color: #282828;
    color:white;
    width: 80vw;
    height: 90vh;
    border-radius: 4px;
    left: 10vw;
    top: 5vh;
    position: absolute;
}

.landingContainer > div {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.toast {
    visibility: hidden;
    width: 252px;
    background-color: #9b9b9b;
    color: white;
    text-align: center;
    padding: 16px;
    position: fixed;
    top: 2vh;
    left: calc(50vw - 126px);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 100;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

a:visited{
    color:#BFFC57;
}

a:link {
    color:#BFFC57;

}