body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff;
}

header {
    background-color: #282828;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header a:link {
    color: #fff;
}

header a:visited {
    color: #fff;
}

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}




.movieComment {
    width: 200px;
    min-width: 200px;
    height: 150px;
    background-color: #adadad;

}

.movieComment div {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;

}

.movieComment h4 {
    margin: 0px;
}

.movieComment p {
    padding: 5px;
    margin: 0px;
}

.movieComment img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
}


.horizontalContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    height: max-content;
}


html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    min-height: calc(100vh - 35px - 154px);

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.movieBanner {
    cursor: pointer;
    width: 400px;
    min-width: 400px;
    height: 180px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 5px;
    border-radius: 4px;
    color:#DEDEDE;

}

.movieBanner > img {
    width: 120px;
    height: 180px;
    padding: 0px 10px 0px 0px;
}

.movieBanner p {
    padding-top: 5px;
    margin: 0px;
    font-size: small;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 260px;
    max-width: 260px;   
}

.movieBanner h4 {
    margin: 4px 0px 4px 0px;
    width: 260px;

 }

 .movieBanner h6 {
    margin: 4px 0px 4px 0px;
 }

 .movieBanner a {
    text-decoration: none;
    /* position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: small; */
 }


.checked {
    color: orange;
  }




.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

body.menu-open {
    overflow: hidden;  /* disables scrolling on body */
  }